.cart {
  /*span{display: inline-block;}*/ }
  .cart img {
    width: 160px;
    height: 120px;
    margin-top: 10px; }
  .cart .imfor_top div {
    height: 40px;
    background-color: #ccc;
    font-weight: bold;
    overflow: hidden; }
  .cart .imfor div {
    height: 140px;
    line-height: 120px; }
  .cart .imfor:hover {
    background: RGB(238, 246, 255); }
  .cart .check,
  .cart .check_top {
    width: 70px; }
  .cart .pudc,
  .cart .pudc_top {
    width: 49%; }
  .cart .pices,
  .cart .pices_top {
    width: 60px; }
  .cart .totle {
    color: red; }
  .cart .num,
  .cart .num_top {
    width: 90px; }
  .cart .num input {
    text-align: center;
    height: 40px;
    width: 40px; }
  .cart .num span {
    height: 23px;
    width: 17px;
    border: 1px solid #e5e5e5;
    background: #f0f0f0;
    text-align: center;
    line-height: 23px;
    color: #444;
    cursor: pointer; }
  .cart .totle,
  .cart .totle_top {
    width: 60px; }
  .cart .del,
  .cart .del_top {
    width: 60px;
    cursor: pointer; }
  .cart .imfor_top div,
  .cart .imfor div {
    float: left;
    border: 1px solid #ccc;
    text-align: center; }
  .cart .imfor_top,
  .cart .imfor {
    width: 100%;
    overflow: hidden; }
  .cart .foot {
    float: inherit;
    overflow: hidden;
    padding: 10px 0; }
  .cart #box,
  .cart #content_box {
    width: 100%;
    margin: 0 auto; }
  .cart .foot_add,
  .cart .foot_del {
    float: left;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 14px; }
  .cart .foot {
    width: 100%;
    background-color: #eaeaea; }
  .cart .foot_tol,
  .cart .foot_cash {
    float: right;
    cursor: pointer;
    width: 80px;
    margin-top: 14px;
    margin-left: 100px; }
  .cart #susum {
    color: red; }
