.bigBox {
  width: 950px;
  margin: 0 auto;
  padding: 0 20px;
  overflow: hidden;
  background: #fff; }
  .bigBox .listLeft {
    width: 20%;
    float: left; }

.listDl h3 {
  font-size: 20px;
  color: #ac9f8c;
  line-height: 40px; }
.listDl dd {
  font-size: 14px;
  color: #ac9f8c;
  line-height: 28px; }
.listDl dt {
  font-size: 12px;
  color: #666;
  line-height: 28px;
  font-weight: 100; }

.contentRight {
  width: 720px;
  float: left;
  overflow: hidden;
  padding: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 8px #ccc; }

.navList {
  width: 720px;
  margin: 0 auto;
  background: #fefefe; }
  .navList .navUl {
    overflow: hidden;
    background: #93846f; }

.navUl li {
  width: 20%;
  background: #93846f;
  padding: 6px 40px;
  font-size: 12px;
  color: #fff;
  line-height: 20px;
  float: left; }
  .navUl li i {
    display: inline-block;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-left: 5px solid #fff; }
  .navUl li p {
    font-size: 12px;
    color: #fff;
    line-height: 20px;
    text-indent: 10px; }

.navList .navUls {
  background: #fff; }

.navUls li {
  background: #fff;
  padding: 0 40px; }
  .navUls li em {
    display: none;
    width: 0;
    height: 0;
    border: 15px solid transparent;
    border-top: 15px solid #93846f; }
  .navUls li .active {
    display: inline-block; }

.contCons {
  width: 100%;
  overflow: hidden; }
  .contCons .contCon {
    width: 25%;
    float: left;
    padding: 0 8px; }
    .contCons .contCon img {
      display: block; }
    .contCons .contCon a {
      display: block;
      border-bottom: 1px solid #ccc;
      padding: 0 0 15px; }
    .contCons .contCon div {
      width: 100%;
      height: 18px; }
    .contCons .contCon h3 {
      font-size: 12px;
      color: #000;
      line-height: 20px; }
    .contCons .contCon .cp1 {
      margin-top: 10px;
      font-size: 12px;
      color: #000;
      line-height: 20px; }
    .contCons .contCon .cp3 {
      font-size: 12px;
      color: #911d34;
      line-height: 20px; }
    .contCons .contCon .cp3 {
      font-size: 12px;
      color: #dd7fa2;
      line-height: 20px; }
