body,p,div,ul,li,dl,ol,h1,h2,h3,h4,h5,h6,hr,dd,dt,input,img,form,fieldset{
	margin:0;
	padding:0;
}
body{
	font-family: verdana,"微软雅黑","黑体",arial,simsun,helvetica,sans-serif;
	background:#ff9c89 url(../img/img1/website_bg_may.jpg) no-repeat center 102px;
}
a{
	text-decoration: none!important;
}
li{
	list-style: none;
}
input{
	outline: none;
}
select{
	outline: none;
}
img{
	border:none;
}


// 上部分的公共css

// adv
.adv{
	width: 100%;
	background:#f69686;
	position: relative;
}
.advCon{
	width:950px;
	height: 40px;
	background:#f69686;
	text-align: center;
	margin:0 auto;
	.fa{
		font-size: 18px;
		line-height: 40px;
		color: #ffff00;
	}
}
// adress
.adr{
	
	width: 100%;
	background:#fff;
	.adrCon{
		width: 950px;
		height: 25px;
		margin:0 auto;
		background:#fff url(../img/img1/tu1.png);
		overflow: hidden;

	}
	.adrSer{
		width:1px;
		height: 12px;
		background:#92846e;
		vertical-align: middle;
		display: inline-block;
	}
	select{
		border:none;
		width: 155px;
		height: 26px;
		font-size: 12px;
		color:#ae846f;
		line-height: 25px;
	}
}
.adrLeft{
	float: left;
}
.adrRight{
	float: right;
	font-size: 12px;
	color: #93846f;
	line-height: 25px;
}
.adrRight a{
	font-size: 12px;
	color: #93846f;
	padding: 0 5px;
	line-height: 25px;
}

// logo

.logo{
	width: 100%;
	background:#93846f;
}
.logoCon{
	width: 950px;
	height: 75px;
	background:#93846f url(../img/img1/tu2.png);
	overflow: hidden;
	a{
		float: left;
	}
	margin:0 auto;
}
.logoRight{
	float: right;
	.f1{
		font-size: 12px;
		color: #fff;
		line-height: 20px;
		// float: right;
	}
	.f2{
		font-size: 14px;
		color: #dfc3b8;
		line-height: 20px;
		float: right;
	}
	img{
		margin-right:4px;
	}
	padding:8px 5px 3px 10px;
}
.shoplist{
	
	
}
.shoplist1{
	font-size: 12px;
	color: #fff;
	line-height: 20px;
	img{
		float: left;
	}
	span{
		float: right;
	}
}
// nav
.nav{
	width: 950px;
	height: 40px;
	background:#b8afa3;
	margin:0 auto;
	a{
		font-size: 12px;
		color: #fff;
		line-height: 40px;
		margin-left:26px;	
	}
	a:last-child{
		font-size: 14px;
		font-style: italic;
	}
	.active{
		color:red;
	}
}

// search
.search{
	width:950px;
	margin:0 auto;
	padding:4px 22px;
	background: linear-gradient(to bottom, #a9a9a9 8%,#fefefe 95%,#ffffff 60%,);

	.seaForm{
		.txt{
			width:198px;
			border:1px solid #a9a9a9;
			margin-right:4px;
			line-height: 30px;
			font-size: 14px;
			color: #a9a9a9;
			line-height: 18px;
			text-indent: 15px;

		}
		select{
			width:188px;
			margin-right:4px;
			border:1px solid #a9a9a9;
			font-size: 12px;
			color: #a9a9a9;
			vertical-align: middle;
			margin-top:-3px;

		}
		.sub{
			background:url(../img/img1/sub.png);
			cursor: pointer; 
			width:40px;
			border:1px solid #a9a9a9;
			border-radius: 3px;
			text-indent: -999px;
			padding:0 10px;

		}
		font-size: 14px;
		color: #a9a9a9;
		line-height: 18px;
		a{
			font-size: 14px;
			color: #93846f;
			line-height: 30px;
			padding:0 10px;
		}
	}
	.seaA{
		font-size: 12px;
		color: #666;
		line-height: 20px;
		a{
			font-size: 12px;
			color: #666;
			line-height: 20px;
			margin-left:22px;
		}
	}
// listAndCon
// .listAndCon{
// 	overflow: hidden;
// }
// .aside{
// 	width: 190px;
// 	float: left;
// 	h3{
// 		font-size: 16px;
// 		color: #ac9f8c;
// 		line-height: 38px;
// 		margin-top:15px;
// 	}
// 	.active{
// 		color: #ac9f8c;
// 	}
// 	a{
// 		font-size: 12px;
// 		color: #666;
// 		line-height: 30px;
// 		display: block;
// 	}
// }
// .content{
// 	width: 720px;
// 	float: right;

// }

// banner
.banner{
	width:906px; 
	height: 360px;
	margin:0 auto;
	.icon{
		left:825px;
	}
	.icon li{
		margin:0 8px;
	}
	.imgs img{
		width: 910px;
		height: 360px;
	}
	.carousel-control{background-image:none!important;}
	
	}
}



// ff
.ff{
	width: 950px;
	margin:0 auto;
	padding:15px 20px;
	overflow: hidden;
	background:#fff;
	.fff{
		width: 33.33%;
		float: left;
		overflow: hidden;
		padding:0 30px;
		img{
			float: left;
		}
		div{
			float: left;
			p{
				font-size: 16px;
				color: #948473;
				line-height: 20px;
				margin-top: 4px;
				margin-left:10px;
				span{
					display: block;
				}
			}
		}
	}
}
.footer{
	width:950px;
	background:#fff;
	margin:0 auto;
	text-align: center;
	img{
		 	padding:0 5px;
		 }
}
.conversion{
	
	li{
		line-height: 30px;

	}


}
.msg5 li{
	padding:0 0 20px;
}
.msg{
	border-top:1px dashed #aeaeae ;
	border-bottom:1px dashed #aeaeae ;
	overflow: hidden;
	padding:10px 30px;
}
.msg>li:nth-child(1){
	width:150px;
	float: left;
	text-align: right;
}
.msg>li:nth-child(2){
	width:100px;
	float: left;
	text-align: right;
}
.msg>li:nth-child(3){
	width:100px;
	float: left;
	text-align: center;
}
.msg>li:nth-child(4){
	width:150px;
	float: left;
	text-align: center;
}
.msg>li:nth-child(5){
	width:250px;
	float: left;
	text-align: left;
}
.msg>li:nth-child(6){
	width:100px;
	float: left;
	text-align: left;
}
.msg1{
	padding:10px 0s;
}
.msg1 li{
	font-size: 12px;
	color:#666;
	line-height: 16px;
}

.msg2{
	border-bottom: 1px dashed #ccc;
	padding:6px 0;
	form{
		display: inline-block;
	}
	div{
		font-size: 14px;
		color:#be936f;
		span{
			font-size: 12px;
			color:#be936f;
		}
	}
}
.teet{
	width: 270px;
	height: 18px;
	border:1px dashed #ccc;
}
.ssub{
	width: 16px;
	height: 16px;
	text-indent: -999px;
	vertical-align: middle;
	background:url(../img/img1/ssub.jpg) center no-repeat;
}	
.msg3 li{
	overflow: hidden;  	
	text-align: center;
	font-size: 12px;
	color:#be936f;
	line-height: 20px;

}
.msg3>li:nth-child(1){
		padding:15px 0;
	}
/*aside*/
.aside{
	width: 150px;
	height: 600px;
	position: fixed;
	top: 140px;
	right: 55px;
	img{
		width: 150px;
		height: 600px;
	}

}

// 最上面的广告
.closes{
	
	width: 16px;
	height: 16px;
	color: #fff;
	background:blue;
	position: absolute;
	top: 5px;
	right: 20px;
	line-height: 16px;
}

// 登录框

.center1{
	width: 600px;
	height: 300px;
	padding:20px;
	border:1px solid #ccc;
    background: linear-gradient(to bottom, #edecea 8%,#fefefe 65%,#ffffff 60%);
    border-radius:15px;
    box-shadow: 0 0 8px #edecea;
    position: fixed;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: none;

}
.forms-forgs{
	width: 300px;
	float: right;
	margin-right: 15px;
	a{
		padding:0 5px;
	}
}
.centerse{
	border:none;
	background:rgba(255,255,255,0);
	outline: none;
}
.close1{
	position: absolute;
	top: 5px;
	right: 20px;
}
.showadr{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
}