.enter {
  width: 950px;
  margin: 0 auto;
  padding: 30px 80px 0;
  background: #fff;
  text-align: center;
span{
  display: block;
  width: 500px;
  margin-left: 356px;
  text-align: left;
  color: red;
}
label{
  display: inline-block;
  width: 200px;
  text-align: right;
  margin-right:20px;
}
   }
   .en-in1,.en-in4,.en-in5{
   	width: 300px;
   	height: 28px;
   	margin:10px 5px;
   	// float: right;
   }
   .en-in3{
   	width: 200px;
   	height: 28px;
   	margin:10px 5px;
   	background:#eef66d;
   	display: inline-block;
   	line-height: 28px;
   	color: #000;
    border-radius: 5px;
   	// float: right;
   }
   .en-in2{
   	padding:3px 10px;
   	margin:10px 5px;
   	// float: right;
   }
   .eaert{
   	width: 600px;
   	height: 300px;
   	border:1px solid #ddd;
   	box-shadow: 0 0 8px #ddd;
   	position: fixed;
   	top:0;
   	bottom:0;
   	left: 0;
   	right:0;
   	margin:auto;
   	background:rgba(169,175,215,.8);
   	border-radius: 10px;
   	z-index: 9;
   	display: none;

   }
   .ah3{
   	// margin:20px 50px;
   	padding:20px 0;
   	border-bottom: 2px dashed red;
   }
   .ebut{
   	position: absolute;
   	top:10px;
   	right: 10px;
   }
    .ebutt{
    	width: 100px;
   	position: absolute;
   	bottom:40px;
   	right: 75px;
   	border-radius: 10px;

   }
      .ebuttt{
    	width: 100px;
   	position: absolute;
   	bottom:40px;
   	left: 290px;
   	border-radius: 10px;
   	
   }
   .ead{
      text-align: left;
      padding:20px 30px;
      color: 14px;
      font-weight: 999;
    }